{
  "singleQuote": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "arrayBracketNewline": "multiline",
  "arrayElementNewline": "multiline",
  "arrayBracketSpacing": true,
  "rangeStart": 0,
  "objectCurlyNewline": "multiline",
  "objectPropertyNewline": "multiline"
}
