<div class="flex gap-3 align-items-center justify-content-between border-round shadow-1 p-2 border-gray-300 border-1">
  <div>
    <div class="mb-2">
      <button
        pButton
        type="button"
        class="w-full p-button-outlined p-button-secondary p-2"
        [icon]="(isCopied$ | async) ? 'pi pi-check' : 'pi pi-copy'"
        iconPos="right"
        [label]="currency.label"
        aria-label="Copy currency"
        (click)="onCopy(currency.label)"
      ></button>
    </div>

    <div class="flex align-items-center gap-3">
      <div class="flex align-items-center gap-2">
        <label for="reload-1m">1M</label>
        <p-inputSwitch [(ngModel)]="isChecked_1m" inputId="reload-5m" ariaLabel="Reload 1M" />
      </div>
  
      <div class="flex align-items-center gap-2">
        <label for="reload-5m">5M</label>
        <p-inputSwitch [(ngModel)]="isChecked_5m" inputId="reload-5m" ariaLabel="Reload 5M" />
      </div>
    </div>
  </div>

  <div class="align-self-baseline flex-grow-1 grid">
    <div class="col-12 lg:col-6">
      <app-currency-details [currency]="currency" [isAllowFetchData]="isChecked_1m" />
    </div>
    <div class="col-12 lg:col-6 lg:py-2 py-0">
      <app-currency-details [currency]="currency" [isAllowFetchData]="isChecked_5m" [timeFrame]="'5m'" />
    </div>
  </div>
</div>
